.widget_about_style_10 .about-item.img_text, .widget_about_style_10 .about-content.img_text {
    float: right;
}
.widget_about_style_10 .about-content .description {
    margin-bottom: 40px;
}
.widget_about_style_10 .about-content p {
    color: #777;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.widget_about_style_10 .about-content ul {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
    margin-right: -10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.widget_about_style_10 .about-content ul li {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 10px;
    font-weight: 600;
    color: #777;
    position: relative;
    padding-right: 10px;
    padding-left: 22px;
}
.widget_about_style_10 .about-content ul li:after {
    content: "";
    height: 15px;
    width: 15px;
    background-image: url(https://bizweb.dktcdn.net/100/367/318/themes/737653/assets/evo_about_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
}
.widget_about_style_10 .about-content .description {
    margin-bottom: 20px;
}
.widget_about_style_10 .button .btn {
    margin: 20px 0; border-radius: 5px;
}

.widget_about_style_10 .about-item-content {
    display: flex; flex-wrap: wrap; width: 100%; gap: 15px;
}
.widget_about_style_10 .about-item .item-box {
    --item-width:calc(100%/3 - 10px);
    width: var(--item-width); flex: 0 0 var(--item-width);
}
.widget_about_style_10 .about-item .item {
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 0 10px 4px rgba(31,66,135,.1);
    transition: all .3s!important;
    overflow: hidden;
    background: var(--ab10-item-bg);
}
.widget_about_style_10 .about-item .item .img {
    height: 400px;overflow: hidden;
}
.widget_about_style_10 .about-item .item .img img {
    width: 100%;height: 100%; object-fit: cover;
}
.widget_about_style_10 .about-item .item .title {
    text-align: left; padding: 20px;
    align-content: center;
}
.widget_about_style_10 .about-item .item .title p.heading {
    color: var(--ab10-item-txt);; font-size: 15px; font-weight: bold; margin: 0 0 0px 0;
    transition: all .3s;
}

.widget_about_style_10 .about-item .item:hover {
    background: var(--ab10-item-bg-hover);
}
.widget_about_style_10 .about-item .item:hover .title p.heading {
    color: var(--ab10-item-txt-hover);
}

@media (max-width: 600px) {
    .widget_about_style_10 .about-item .item .img {
        height: 300px;overflow: hidden;
    }
    .widget_about_style_10 .about-item .item .title {
        padding: 10px;
    }
    .widget_about_style_10 .about-item .item .title p.heading {
        font-size: 13px;
    }
    .widget_about_style_10 .about-item .item {
        margin: 0 10px;
    }
}