.widget_about_style_12 .about-content.img_text {
    float: right;
}
.widget_about_style_12 .about-content .description {
    margin-bottom: 40px;
}
.widget_about_style_12 .about-content p {
    color: #777;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.widget_about_style_12 .about-content ul {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
    margin-right: -10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.widget_about_style_12 .about-content ul li {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 10px;
    font-weight: 600;
    color: #777;
    position: relative;
    padding-right: 10px;
    padding-left: 22px;
}

.widget_about_style_12 .about-item-list {
    display: grid; grid-template-columns: 1fr 1fr 1fr; gap:10px;
}
.widget_about_style_12 .item {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden; text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    background: var(--ab-item-bg);
    box-shadow: 0 0 5px 0 rgba(31,66,135,.1);
    border-radius: 3px;
}
.widget_about_style_12 .item .img {
    float:left;
    height: var(--ab-item-height); width:100%; text-align: center;
    padding:10px;
    transition: all .5s;
}
.widget_about_style_12 .item .img img {
    max-width: 100%;
    width: auto; height: 100%; display: inline-block;
}
.widget_about_style_12 .item:hover .img img {
    -webkit-animation: toTopFromBottom .5s forwards;
    animation: toTopFromBottom .5s forwards;
}
.widget_about_style_12 .item .title {
    text-align: center;
}
.widget_about_style_12 .item .title p.heading {
    color: var(--ab-item-title); font-size: 15px; font-weight: bold; margin: 0 0 10px 0;
}

@media(max-width: 768px) {
    .widget_about_style_12 .about-item-list {
        grid-template-columns: 1fr 1fr;
    }
}
.widget_about_style_12 .video-section-outer {
    position: relative;
    padding-top: 30px;
    padding-right: 30px;
}
.widget_about_style_12 .video-section-outer:before {
    content: '';
    width: 95%;
    height: 95%;
    border: 8px solid var(--ab-video-border);
    position: absolute;
    top: 0px;
    left: 30px;
    border-radius: 10px;
}
.widget_about_style_12 .video-section-outer .video-section {
    position: relative;
    -webkit-animation: move3 5s infinite;
    animation: move3 5s infinite;
}
.widget_about_style_12 .video-section-outer .video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    height: 100px;
    width: 100px;
    padding:20px;
    background-color: var(--theme-color);
    border-radius: 10px;
    display: block;
    color: #fff;
    font-size: 42px;
    margin: 0 auto 10px;
    box-shadow: 0 0 10px 4px rgba(31,66,135,.2);
    transition: all .5s;
}
.widget_about_style_12 .video-section-outer .video-btn svg {
    fill: #fff;
}
.widget_about_style_12 .video-section-outer img {
    width: 100%;
    box-shadow: 0 0 10px 4px rgba(31,66,135,.2);
    border-radius: 10px;
    overflow: hidden;
}
.widget_about_style_12 .video-section-outer:hover .video-btn {
    background-color: #fff;
    color: var(--theme-color);
}
.widget_about_style_12 .video-section-outer:hover .video-btn svg {
    -webkit-animation: toTopFromBottom .5s forwards;
    animation: toTopFromBottom .5s forwards;
    fill: var(--theme-color);
}