.widget_product_style_1 { overflow: hidden; }
.widget_product_style_1 .box-content { overflow: hidden; position: relative; }
.product-slider-horizontal .item { background-color: #FFF; margin-bottom: 20px; }
.product-slider-horizontal .item .img { box-shadow: 2px 2px 5px #ccc; border-radius: 5px; overflow: hidden;}
.product-slider-horizontal .item .img img { height: 100%; width: 100%; object-fit: cover; }
.product-slider-horizontal .item .title .heading { text-align: center; font-weight: 400; font-size: 15px; }
.product-slider-horizontal .item .title .item-pr-price { text-align: center; margin-bottom: 10px; }
.product-slider-horizontal .item .title .item-pr-price .product-item-price { color:#fe0000; }
@media(min-width: 1200px) {
	.product-slider-horizontal .item .img { height: 250px;}
}
@media(max-width: 600px) {
	.product-slider-horizontal .item .img { height: 200px;}
}
@media(max-width: 600px) {
	.product-slider-horizontal .item .img { height: 180px;}
}
.product-slider-horizontal .wg_pr_btn .arrow {
	height: 35px; width: 35px; line-height: 35px;
    text-align: center; padding: 0;
	font-size: 15px;
}
.product-slider-horizontal .wg_pr_btn_top_right .arrow {
	top:-42px;
}
.product-slider-horizontal .wg_pr_btn_top_right .prev {
	right:40px; left:auto;
}
.product-slider-horizontal .wg_pr_btn_center {
	text-align:center;
	margin-bottom:10px;
}
.product-slider-horizontal .wg_pr_btn_center .arrow {
	position: inherit;
	display:inline-block;
}
.product-slider-horizontal .wg_pr_btn_style_radius .arrow {
	font-size: 15px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
}