.widget_videos_style_4 .video-section-outer {
    margin: 0 0px 10px 0px; outline: none; overflow: hidden;
}
.widget_videos_style_4 .video-section-outer .video-img img {
    width: 100%; height: 100%; object-fit: cover;outline: none;
    border-radius: 5px;
}
.widget_videos_style_4 .main-videos .video-img {
    border-radius: 5px;
    position: relative; height: 300px;overflow: hidden;outline: none; width: 100%;
}
.widget_videos_style_4 .main-videos .video-title .heading {
    margin: 10px 0; font-family:var(--font-header); font-weight: bold; font-size: 18px;
}
.widget_videos_style_4 .main-videos .video-title .heading a {
    color:#000; font-size: 18px; outline: none;
}
.widget_videos_style_4 .list-videos .slick-list {
    margin-right: -10px;
    margin-left: -10px;
}
.widget_videos_style_4 .list-videos .video-section-outer {
    margin: 10px;
}
.widget_videos_style_4 .list-videos .video-section-outer .video-img {
    height: 100px;
    position: relative;
    overflow: hidden;
    outline: none;
    border-radius: 5px;
}
.widget_videos_style_4 .list-videos .video-title .heading {
    margin-top: 5px; font-family:var(--font-header);
}
.widget_videos_style_4 .list-videos .video-title .heading a {
    color:#000; font-size: 14px; outline: none;
}
.widget_videos_style_4 .list-videos .video-title .description {
    color:#999; font-size: 14px; outline: none; height: 80px; overflow: hidden;
}

.widget_videos_style_4 .play-now {
    position: absolute;left: 50%;top: 50%;z-index: 10;
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center center;
}
.widget_videos_style_4 .play-now .icon {
    position: absolute;left: 50%;top: 50%;z-index: 1;
    height: 65px;
    width: 65px;
    text-align: center;
    line-height: 65px;
    color: #fff;
    font-size: 20px;
    padding-left: 5px;
    display: block;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform-origin: center;
    transform-origin: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, .1);
    -moz-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, .1);
    -ms-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, .1);
    -o-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, .1);
    box-shadow: 0 5px 10px 0 rgba(255, 255, 255, .1);
    background-color: var(--theme-color);
}
.widget_videos_style_4 .play-now .ripple,
.widget_videos_style_4 .play-now .ripple:before,
.widget_videos_style_4 .play-now .ripple:after {
    position: absolute;top: 50%;left: 50%;
    height: 65px;
    width: 65px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform-origin: center;
    transform-origin: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .3);
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .3);
    -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, .3);
    -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, .3);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .3);
    -webkit-animation: ripple 3s infinite;
    -moz-animation: ripple 3s infinite;
    -ms-animation: ripple 3s infinite;
    -o-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
}
.widget_videos_style_4 .play-now .ripple:before {
    -webkit-animation-delay: .9s;
    -moz-animation-delay: .9s;
    -ms-animation-delay: .9s;
    -o-animation-delay: .9s;
    animation-delay: .9s;
    content: "";
    position: absolute;
}
.widget_videos_style_4 .play-now .ripple:after {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s;
    content: "";
    position: absolute;
    background-color: var(--theme-color);
}
/*------------ Feedback -----------*/
.widget_videos_style_4 .feedback-item {
    position: relative;
    padding-bottom: 20px;
}
.widget_videos_style_4 .item {
    background-color: #fff; border-radius: 5px; padding: 10px;
    box-shadow: 3px 3px 13px 0 rgba(0,0,0,.1); margin: 10px;
}
.widget_videos_style_4 .feedback-info {
    overflow: hidden;
    max-width: 100%;
    margin: 30px auto 0;
}
.widget_videos_style_4 .item .avatar {
    float: left; width: 100px;
}
.widget_videos_style_4 .item .avatar img {
    width:100px; height: 100px; object-fit: cover;
    border-radius: 50%;
    display: inline-block;
}
.widget_videos_style_4 .item .title {
    text-align: left;
    float: left; width: calc(100% - 100px); padding-left: 10px;
}
.widget_videos_style_4 .item .title .feedback-name {
    text-align: left; font-size: 18px; font-weight: bold;
}
.widget_videos_style_4 .item .title .feedback-office {
    font-size: 13px;
}
.widget_videos_style_4 .item .feedback-content {
    margin: 20px auto;
    max-width: 100%;
    position: relative;
    padding-left: 40px;
}