.widget_item_style_3 {
    overflow: hidden; text-align: center;
}
.widget_item_style_3 .row-flex{
    position: relative;
    display: grid;
    grid-template-columns: var(--item-per-row);
    gap:10px;
    align-items: center;
}
.widget_item_style_3 .item {
    position: relative; overflow: hidden; text-align: center; background-position: center;
    display: flex; width: 100%;
}
.widget_item_style_3 .item .img {
    float:left;
    height:var(--item-height); width:var(--item-height); text-align: center;
}
.widget_item_style_3 .item .img img {
    max-width: 100%;
    width: auto; height: 100%; display: inline-block;
}
.widget_item_style_3 .item .title {
    text-align: left; padding: 10px;
}
.widget_item_style_3 .item .title .heading {
    font-family: var(--font-header);
    color: var(--item-title); font-size: 15px; font-weight: bold; margin: 0 0 10px 0;
}
.widget_item_style_3 .item .title p.description {
    color: var(--item-des); font-size: 14px; line-height: 20px;
}
.widget_item_style_3 .item .title .heading a {
    color: var(--item-title);
}
.widget_item_style_3 .item .title p.description a{
    color: var(--item-des);
}
@media (max-width: 768px) {
    .widget_item_style_3 .row-flex{
        grid-template-columns: var(--item-per-row-tablet);
    }
    .widget_item_style_3 .item .img { height: 50px; }
}
@media (max-width: 600px) {
    .widget_item_style_3 .row-flex{
        grid-template-columns: var(--item-per-row-mobile);
    }
    .widget_item_style_3 .item {
        flex-direction: column;
    }
    .widget_item_style_3 .item .img {
        width: 100%; height: 50px; text-align: center;
    }
    .widget_item_style_3 .item .title {
        width: 100%; text-align: center;
    }
    .widget_item_style_3 .item .title .heading {
        font-size: 13px;
    }
    .widget_item_style_3 .item .title p.description {
        font-size: 12px;
    }
}