.widget_item_style_13 .row-flex {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.widget_item_style_13 .item {
    border: 1px solid var(--item13-border-color);
    border-radius:5px;
    padding: 50px 10px 10px 10px;
    margin-bottom: 15px;
    margin-top: 40px;
    outline: none;
    position: relative;
    width: var(--item13-per-row);
}
.widget_item_style_13 .item a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.widget_item_style_13 .item .img {
    width: 100px;
    height: 100px;
    transform: translate(0,-50%);
    position: absolute; top:-50px;
    background-color: #fff;
    border-radius: 50%;
}
.widget_item_style_13 .item .img img {
    height: 100%; width: auto;
}
.widget_item_style_13 .item .title {
    text-align: center;
}
.widget_item_style_13 .item .heading {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 5px;
    color: var(--item13-title-color);
    text-transform: uppercase;
}
.widget_item_style_13 .item p {
    font-size: 14px;
    color: var(--item13-des-color);
}
.widget_item_style_13 .item:before, .widget_item_style_13 .item:after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all .5s;
    -webkit-transform: scale(.1);
    transform: scale(.1);
    z-index: 0;
}
.widget_item_style_13 .item:before {
    background-image: url('views/theme-store/widget/item/image/item-before.png');
    height: 100%;
    top: -30px;
    left: -30px;
    width: 100%;
}
.widget_item_style_13 .item:after {
    background-image: url('views/theme-store/widget/item/image/item-after.png');
    height: 290px;
    bottom: -40px;
    right: -30px;
    width: 250px;
}
.widget_item_style_13 .item.active:after, .widget_item_style_13 .item.active:before,
.widget_item_style_13 .item:hover:after, .widget_item_style_13 .item:hover:before {
    opacity: 1;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}
@media (max-width: 1000px) {
    .widget_item_style_13 .item {
        width: var(--item13-per-row-tablet);
    }
}
@media (max-width: 600px) {
    .widget_item_style_13 .item {
        margin-right:10px;
        margin-left: 10px;
        width: var(--item13-per-row-mobile);
    }
}