.widget_item_working_process{
    margin-top: 30px;
    padding-top: 50px;
}

.widget_item_working_process .header-title{
    /* border-top: 2px solid #ededed; */
    border-bottom: 2px solid #5b5b5b;
    background-image: linear-gradient(to bottom, #e9e9e9, #5b5b5b), linear-gradient(to bottom, #e9e9e9, #5b5b5b);
    background-size:  2px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    margin: 20px 0 40px;
}
.widget_item_working_process .header-title:after,
.widget_item_working_process .header-title:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background: #e9e9e9;
}
.widget_item_working_process .header-title:before{
    left: unset;
    right: 0;
}
.widget_item_working_process .header-title .header-wraper{
    background: transparent;
}

.widget_item_working_process .header-title .header-wraper .header-rl{
    background: transparent;
}
/* .widget_item_working_process .header-title .header-wraper .header-bar span{
    background: theme-colo;
    border-color: orange;
} */

.widget_item_working_process .header-title .header, .widget_item_working_process .note{
    color: #000;
}
.widget_item_working_process .working_process__row{
    margin-top: 70px;
    margin-bottom: 30px;
    position: relative;
}
.widget_item_working_process .working_process__row .working_process_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.widget_item_working_process .working_process_item {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 7%);
    background-color: #fff;
    position: relative;
    padding: 60px 40px;
    flex-basis: 23%;
}
.widget_item_working_process .working_process_item .working_process_item__circle {
    position: absolute;
    top: -30px;
    left: 40px;
}
.widget_item_working_process .working_process_item .working_process_item__circle p.num {
    padding: 28px 12px;
    font-size: 52px;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    transition: .3s ease;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget_item_working_process .working_process_item:hover .working_process_item__circle p.num,
.widget_item_working_process .working_process_item .working_process_item__circle p.num:hover{
    background-color: var(--theme-color);
    color: #000;
}


.widget_item_working_process .working_process_item .border {

}
.widget_item_working_process .working_process_item .text a{
    text-decoration: none;
}

.widget_item_working_process .working_process_item .text p.big {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    outline: none;
    text-decoration: none;
    margin: 20px 0;
}
.widget_item_working_process .working_process_item .text p.small {
    font-size: 13px;
    line-height: 1.2;
    color: #888;
    transition: .3s ease;
    margin-bottom: 20px;
}
.widget_item_working_process .working_process_item .text p.small:hover{
    color: #000
}
.widget_item_working_process .working_process_item .text .read-more{
    color: #7d7d7d;
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
}

.widget_item_working_process .working_process_item.active .border,
.widget_item_working_process .working_process_item:hover .border {

}
.widget_item_working_process .working_process_item.active .text p.small,
.widget_item_working_process .working_process_item:hover .text p.small {

}

/* .working_process__row .slick-prev, .working_process__row .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 19%;
    z-index: 9999;
    display: block;
    width: 30px;
    height: 37px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #444444;
} */
/* .working_process__row .slick-prev {
    left: 0;
}
.working_process__row .slick-next {
    right: 0;
} */

@media screen and (max-width: 768px){
    .widget_item_working_process .working_process_item{
        flex-basis: 48%;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 480px){
    .widget_item_working_process .working_process__row .working_process_box{
        flex-direction: column;
    }
}